/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡       HEADER   ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡*/
/* Inicio cabecera */
//por probar colocar color a la hamburguesa
// .estilo__Hambur {
//     color: #D69C79!important;
    /* border: 1px solid #D69C79; */
    /* background-color: #E4DCD8;    */
//   }  
/*
#E4DCD8
#D69C79
#E7D0C1
#C1B0A8
*/
@import './vars';
  .nav__estilo {
    //color de la letra del menu de navegacion
    color: $colorMenuHeader!important;
    font-size: $fontSizeMenuHeader;  
    transition: all 0.5s ease;

    &:hover {
        // color: #D69C79;
        color: $colorMenuHeader!important;
        font-weight: bold;
        font-size: 2rem;  
        border-bottom: 3px solid $colorMenuHeader;           
      }    
  }
  
  .header__logo{
    border-radius: 50%;
    border: 1px solid $colorMenuHeader;
    width: 5em;
    height: 5em;   
    animation: animaImg 5s ease 0s infinite;
    /* para pruebas */
    /* background-color: #7ca51b;  
    border: 1px solid #1e0db4; */
  }
  
  .header__compras{    
    width: 4em;
    height: 4em;
    color: $colorMenuHeader;        
    animation: animaImg 5s ease 0s infinite;
    /* para pruebas */
    /* background-color: #51cd32;  
    border: 1px solid #1e0db4; */
  }
  
  /*Animacion para logo e imagen de compras*/
  @keyframes animaImg {
    0% {
      transform: scale(0.8,0.8) rotate(0deg);
      /* transform: rotate(0deg); */
    }
    50% {
      transform: scale(0.9,0.9) rotate(0deg);
      /* transform: rotate(20deg); */
    }
  
    100% {
      transform: scale(1,1) rotate(40deg);
      /* transform: rotate(40deg);     */
    }
  }
  /* fin cabecera */