$colorMenuHeader:#D69C79;//Inicio, Aretes, Collares,pulseras
$colorTipograCategoPrinci:#D69C79;//Aretes, Collares,pulseras
$colorTipograCarrousel:#773939;
$colorTipograFooter:#773939;

$fontSizeMenuHeader: 1.6rem;//Inicio, Aretes, Collares,pulseras
$fontSizeCategoPrinci: 1.6rem;//Aretes, Collares,pulseras
$fontSizeFooter: 1.6rem;//La Empresa, Sobre Nosotros contactanos Síguenos